@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
body {
    background-color: gray;
}
.potential-icon {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.search-bar {
    text-align: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #f2f2f2;
    padding:25px;
}



.py-5 {
padding-bottom: 3rem;
    padding-top: 3rem;
}

.card-body {
    max-height: 380px;
    align-content: center;
}
#search-area {
    background-color: black;
}

a {
    font-family: cursive;
}
.hide {
    display: none;
}
.pre-hidden {
    display: none;
}
#nav-title {
    font-size: 40px;
    padding-left: 15px;
    color: #FFF;
}
#navbar {
    padding: 0;
    background-color: #2d333b;
}
#nav-img {
    height: 125px;
    padding-left: 80px;
}
#nav-search{
    margin-right: 0;
}
#search-holder {
    padding-right: 20px;
}

#search{
    background-color: #313942;
    color: #FFF  ;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;

    /* This bit draws the box around it */
    border:1px solid Black;

    /* I've used padding so you can see the edges of the elements. */
    padding:0px;
}

input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
}

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

#button {
    /* Just a little styling to make it pretty */
    border:0px solid blue;
    background: #313942;
    color:white;
}
::placeholder {
    color: #74828f;
}
html {
    background-color: #22272d;
}
.background-2 {
    background-color: #22272d;
}

#please-change {
    background-color: #22272d;
}

.movie {
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: 2em;
}

h1{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    padding-left: 10px;
}
.white-text {
    color: #ccd9e5;
}
.plot{
    font-size: 11px;
}
.edit-b {
    border:0px solid blue;
    background: #22272d;
    color:white;
    height: 10px;
}
.edit-img {
    height: 10px;
}

textarea {
    background-color: #313942;
}

.delete-b {
    border:0px solid blue;
    background: #22272c;
    color:white;
}

.cards {
    margin-left: auto;
}

.submit-b {
    border:0px solid blue;
    background: #22272c;
    color:white;
}